SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=13457@jaipuria.com
SMTP_PASS=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
SMTP_FROM=agarwal.reshu@gmail.com